extends layout

block content
  div
    button(onClick="location.href='/random';") Feeling random ?
  div
    h1.
      Cars
    ul
      each car, i in cars
        li
          a(href="/car/#{car.slug}") #{car.year} #{car.make} #{car.model} #{car.trim} #{car.body} 
          |---> search on 
          a(href="https://www.google.com/cse/publicurl?cx=003945092011542261352:ixoc2ejmwwg&q=#{car.year}%20#{car.make}%20#{car.model}%20#{car.trim}") Google
          |, or 
          a(href="http://en.wikipedia.org/wiki/Special:Search/#{car.year}_#{car.make}_#{car.model}_#{car.trim}") Wikipedia 


      